---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-throwing-static-initialization
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/(src|tests)/.*'
FormatStyle: file
...
